<!DOCTYPE html>
<html lang="cn">
<head>
	<title>${channel.title!channel.name}-${site.name}</title>
	<meta name="description" content="${channel.description!}" />
	<meta name="keywords" content="${channel.keywords!}">
	[#include '../include/head_meta.html'/]
	<link rel="stylesheet" type="text/css" href="/${res}/css/aboutus.css" />
</head>
<body class="aboutus">

	[#include '../include/header_nav.html'/]

	<div class="floor banner">
		<div class="contain">
			<div class="logo"></div>
			<p class="title">一个一点金账户，资本市场轻松游走</p>
			<div class="divider"></div>
			<p class="content">一点金向小型投资者提供包括外汇A股、外盘股指期货等多种杠杆化交易产品，</p>
			<!--<p class="content mb28">--><p class="content">以上产品均可以按天或者按月进行交易，充分满足超短线趋势交易者和中短线价值交易者的不同需求。</p>
			<p class="content">未来我们还将开放商品期货交易，让熟悉并热爱中国市场的客户，像机构投资者一样，轻松拥有全方位的多空资产配置能力，同时大幅提高资金使用效率。</p>
		</div>
	</div>
	<div class="floor advantage">
		<div class="divid">
			<div class="contain">
				<p class="title">点金优势</p>
				<div class="divider"></div>
				<div class="ustwo">
					<div class="adv_item item1">
						<div class="img"></div>
						<p class="sub_title">轻松开户</p>
						<p class="sub_content">只需2分钟，轻松开户，</p>
						<p class="sub_content">一个账户即可实现不同交易市场的极速切换</p>

					</div>
					<div class="adv_item item2">
						<div class="img"></div>
						<p class="sub_title">实盘交易</p>
						<p class="sub_content">各项交易产品直连交易所，确保交易的真实有效</p>
					</div>
				</div>
				
			</div>
		</div>
		<div class="ustwo contain">
			<div class="adv_item item3">
				<div class="img"></div>
				<p class="sub_title">快捷服务</p>
				<p class="sub_content">微信、微博资讯端实时推送最新公告，</p>
				<p class="sub_content">在线客户随时解答疑难，24*7小时电话热线随时处理紧急问题</p>

			</div>
			<div class="adv_item item4">
				<div class="img"></div>
				<p class="sub_title">经典学堂</p>
				<p class="sub_content">提供经典交易技术资料，快速推送热站资讯，</p>
				<p class="sub_content">随机抽取客户交易品种进行分析，提高客户交易水准</p>

			</div>
		</div>
	</div>
	<div class="floor companions">
		<div class="contain">
			<p class="title">友情链接</p>
			<div class="divider"></div>
			<div class="nav">
				<div class="next "></div>
				<div class="prev disable"></div>
			</div>
			<div class="slider-wrap">
				<ul class="slider-list">
					<li class="slider-item">
						<a class="item-img img1" href="http://www.cbhb.com.cn" target="_blank"></a>
						<a class="item-img img2" href="http://www.wquant.com" target="_blank"></a>
						<a class="item-img img3" href="https://www.wosign.com" target="_blank"></a>
						<a class="item-img img4" href="https://vpc.wmcloud.com" target="_blank"></a>
						<a class="item-img img5" href="http://www.foundersc.com" target="_blank"></a>
						<a class="item-img img6" href="http://www.kf5.com" target="_blank"></a>
						<a class="item-img img7" href="http://www.umeng.com" target="_blank"></a>
						<a class="item-img img8" href="https://www.qingcloud.com" target="_blank"></a>
					</li>
				</ul>
			</div>

		</div>
	</div>
	<div class="floor joinUs">
		<div class="contain">
			<p class="title">加入我们</p>
			<p class="sub-title">如果您与一点金有合作意向，请将您的合作意向通过以下方式告知我们，我们将尽快与您确认合作方式</p>
			<div class="divider red mb28"></div>
			<ul class="contact-list clearfix">
				<li class="contact-item item1">
					<div class="contact-img"></div>
					<p class="contact-title">合作专线</p>
					<p class="contact-content">400 816 3579 转 3</p>
				</li>
				<li class="contact-item item2">
					<div class="contact-img"></div>
					<p class="contact-title">电子邮件</p>
					<p class="contact-content"><a href="mailto:info@edianjin.com" style="color:#fff;text-decoration:none">info@edianjin.com</a></p>
				</li>
			</ul>
		</div>
	</div>

	[#include '../include/foot.html'/]
</body>
</html>