<div class="filter">
	<ul class="wrap clearfix">
	  <li>您的预订</li>
	  <li class="drop" id="">酒店 / <input type="text" size="30" value="" id="hotelCode"><i class="selDrop ic24"></i>
			<div class="dropList hotelDrop">
				<ul>
				</ul>
			</div>
	  </li>
	  <li>到达日 / <input type="text" size="6" value="" class="date_picker" id="arrival"><i class="selDate ic24"></i></li>
	  <li>离开日 / <input type="text" size="6" value="" class="date_picker" id="departure"><i class="selDate ic24"></i></li>
	  <li class="drop">人数 / <input type="text" size="4" value="1 人" id="adults" code="1"><i class="selDrop ic24"></i>
			<div class="dropList numDrop">
				<ul>
					<li code="1">1 人</li>
					<li code="2">2 人</li>
					<li code="3">3 人</li>
					<li code="4">4 人</li>
					<li code="5">5 人</li>
					<li code="6">6 人</li>
				</ul>
			</div>
	  </li>
	  <li class="drop">客房数  / <input type="text" size="4" value="1 间" id="roomNum" code="1"><i class="selDrop ic24"></i>
			<div class="dropList numDrop">
				<ul>
					<li code="1">1 间</li>
					<li code="2">2 间</li>
					<li code="3">3 间</li>
					<li code="4">4 间</li>
					<li code="5">5 间</li>
					<li code="6">6 间</li>
				</ul>
			</div>
	  </li>
	  <li class="last"><a href="javascript:void(0);" class="btnFilter" id="reserveBtn">预订</a></li>
	</ul>
</div>