<!--<div>-->
	<!--<div class="banner-left">-->
		<!--<div class="left-top">-->
			<!--<p><span class="j_username"></span>,您好</p>-->
			<!--<ul>-->
				<!--&lt;!&ndash;<li>待支付<span id="reservedNum"></span></li>&ndash;&gt;-->
				<!--<li>待入住<span id="reservedNum"></span></li>-->
				<!--<li>优惠券<span id="couponNum"></span></li>-->
			<!--</ul>-->
		<!--</div>-->
		<!--<div class="left-bottom">-->
			<!--<h2>会员等级：<span class="j_level">&#45;&#45;</span></h2>-->
			<!--<p>等级有效期限：<span class="j_cardEndDate">&#45;&#45;</span></p>-->
			<!--<p>可用积分：<span class="j_points">&#45;&#45;</span><span class="use">使用</span></p>-->
		<!--</div>-->
	<!--</div>-->
	<!--<div class="banner-right">-->
		<!--<ul>-->
			<!--<li>会员等级：<span class="j_level">&#45;&#45;</span></li>-->
			<!--<li>会员卡号：<span id="cardCode">&#45;&#45;</span></li>-->
			<!--<li>会员积分：<span class="j_points">&#45;&#45;</span><a href="#">兑换</a></li>-->
			<!--<li><a href="/member/index.html">我的订单</a></li>-->
			<!--<li><a href="/member/coupon.html">我的优惠券</a></li>-->
			<!--<li><a href="/member/index.html">我的账户</a></li>-->
			<!--<li><a href="javascript:void(0)" class="logout j_user" style="display: none">退出</a></li>-->
		<!--</ul>-->
	<!--</div>-->
<!--</div>-->
<script type="application/javascript">
   function  isLogin(user) {

       var card = getMembershipCard(user);
       $(".j_level").html(card.membershipCardLevel.currentLevel.name);
       $(".j_username").html(user.lastName);
       $("#cardCode").html(card.membershipCardNumber);
       $("#storedValue").html(getAccountValue(card, "storedValue").value);
       $(".j_points").html(getAccountValue(card, "points").value);
       $(".j_cardEndDate").html(card.membershipCardLevel.retentionPeriodEndDate.split("T")[0]);

       ajax("/user/coupons", {status:"notUsed", pageSize: 20}, function (data) {
           $("#couponNum").html("（"+data.length+"）");
       });

       ajax("/user/orderList", {statusCode:"0001", pageSize: 1}, function (data) {
           $("#reservedNum").html("（"+data.pageInfo.totalRecords+"）");
       });


       initMemberPage(user);
   }

   function noLogin() {
       location.href = "/index.html";
   }
</script>