<!DOCTYPE html>
<html lang="cn">
<head>
    <title>${channel.title!channel.name}-${site.name}</title>
    <meta name="description" content="${channel.description!}" />
    <meta name="keywords" content="${channel.keywords!}">
    [#include '../include/head_meta.html'/]
    <link href="/${res}/css/comment.css" rel="stylesheet" />
    <link href="/${res}/css/manage.css" rel="stylesheet" />
</head>
<body>

[#include '../include/header_nav.html']

<div class="floor comment content boarddetail">
    <div class="contain">
        <p class="bread-crumb">
            <a href="/${base}">首页</a> >
            [#list channel.nodeList as n]
            [#if n_has_next] <a href="${n.url}">${n.name}</a> > [/#if]
            [#if !n_has_next] <span>${n.name}</span>[/#if]
            [/#list]
        </p>
        <div class="detail clearfix">
            <div class="text-wrap">
                <h3 class="text-title">
                    ${channel.title!}
                </h3>
                <p class="detail-text">
                    ${channel.txt!}
                </p>
            </div>
        </div>
    </div>
</div>

[#include '../include/foot.html'/]

</body>
</html>