<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    [#include '../include/head_meta.html'/]
    <title>${channel.title!channel.name}-${site.name}</title>
    <meta name="description" content="${channel.description!}" />
    <meta name="keywords" content="${channel.keywords!}">
    <link rel="dns-prefetch" href="">
    <link rel="stylesheet" href="${static}/css/base.css">
    <link rel="stylesheet" href="${static}/css/yearning-club.css">
</head>
<body>

[#include '../include/header_nav.html'/]

<!-- container -->
<div class="container">

    [#include '../include/inc_yearning_club.html'/]

    <div class="wrap join">
        <img src="${static}/img/yearning-club/logo.png" class="yearning-club" alt="忆旅慧 YEAENING CLUB">

        页面完善中。。。

    </div>
</div>

[#include '../include/foot.html'/]
</body>
</html>