<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    [#include '../include/head_meta.html'/]
    <title>${channel.title!channel.name}-${site.name}</title>
    <meta name="description" content="${channel.description!}" />
    <meta name="keywords" content="${channel.keywords!}">
    <link rel="dns-prefetch" href="">
    <link rel="stylesheet" href="${static}/css/base.css">
    <link rel="stylesheet" href="${static}/css/yearning-club.css">
    <link rel="stylesheet" href="${static}/js/jquery-timepicker/jquery.timepicker.min.css">
</head>
<body>

[#include '../include/header_nav.html'/]

<!-- container -->
<div class="container">

    [#include '../include/inc_yearning_club.html'/]

    <div class="wrap reserve">
        <img src="${static}/img/yearning-club/logo.png" class="yearning-club" alt="忆旅慧 YEAENING CLUB">

        <ul class="step clearfix" id="step">
            <li><span class="pass">选择酒店</span></li>
            <li class="connect"></li>
            <li><span>选择房型</span></li>
            <li class="connect"></li>
            <li><span>详情确认</span></li>
            <li class="connect"></li>
            <li><span>在线支付</span></li>
        </ul>

        [#include '../include/inc_reserve_bar.html'/]

        <!-- item -->
        <table class="room" id="rooms">
            <thead>
            <tr>
                <th class="tal">房型</th>
                <!--<th width="100">床型</th>-->
                <th width="100">早餐</th>
                <th width="150">政策</th>
                <th class="tal">房价</th>
                <th width="100"></th>
            </tr>
            </thead>
            <tbody id="roomList">

            </tbody>
        </table>

        <div id="addOrder" style="display: none">
            <h2 class="title none">您的单间价为：<span id="onePrice"></span></h2>
            <h2 class="title none">您的总价为：<span id="totalPrice"></span></h2>
            <div class="form">
                <div id="inputForm">
                    <h2 class="title">请填写详情</h2>
                    <ul>
                        <li>
                            <label class="label must">姓名</label>
                            <div class="block">
                                <input type="text" size="5" placeholder="姓" id="lastName" name="lastName" maxlength="10">
                                <input type="text" size="5" placeholder="名" id="firstName" name="firstName" maxlength="10">
                            </div>
                        </li>
                        <li>
                            <label class="label must">手机号</label>
                            <div class="block">
                                <input type="text" size="40" placeholder="请输入手机号..." id="orderMobile" name="orderMobile" maxlength="11">
                            </div>
                        </li>
                        <li>
                            <label class="label">邮箱</label>
                            <div class="block">
                                <input type="email" size="40" placeholder="请输入邮箱..." id="email" name="email">
                            </div>
                        </li>
                        <li>
                            <label class="label">其他要求</label>
                            <div class="block">
                                <div class="inline"><textarea rows="3" cols="60" placeholder="其他要求..." id="comments" maxlength="100"></textarea></div>
                            </div>
                        </li>
                        <li>
                            <label class="label must">为必填项</label>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <div class="block">
                                <button class="btn" id="checkOrderbtn">确认订单</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="payTypeForm" style="display: none">
                    <h2 class="title">订单详情</h2>
                    <ul>
                        <li>
                            <label class="label" style="width: 800px;text-align: left;padding-left: 50px"><em id="orderShow"></em></label>
                        </li>
                        <li>
                            <label class="label" style="width: 300px;text-align: left;padding-left: 50px">姓名：<em id="nameShow"></em></label>
                        </li>
                        <li>
                            <label class="label" style="width: 300px;text-align: left;padding-left: 50px">手机号：<em id="orderMobileShow"></em></label>
                        </li>
                        <li>
                            <label class="label" style="width: 300px;text-align: left;padding-left: 50px">邮箱：<em id="emailShow"></em></label>
                        </li>
                        <li>
                            <label class="label" style="width: 800px;text-align: left;padding-left: 50px">其他要求：<em id="commentsShow"></em></label>
                        </li>
                    </ul>
                    <h2 class="title">选择支付方式</h2>
                    <ul class="pay-way">
                        <li>
                            <label class="label"><input type="radio" name="addType" value="10" checked></label>
                            <div class="block">
                                <dl>
                                    <dt>网上在线支付</dt>
                                    <dd>（支持银联支付、支付宝支付、账户余额支付）
                                        <br>订单支付成功后，订单不可变更、不可取消、不可退款！我们将为您预订的客房保留至退房当日中午12:00。</dd>
                                </dl>
                            </div>
                        </li>
                        <li>
                            <label class="label"><input type="radio" name="addType" value="1"></label>
                            <div class="block">
                                <dl>
                                    <dt>酒店前台支付</dt>
                                    <dd>我们将为您预订的客房保留至抵店之日下午18:00；如需18:00后入住，请提前致电酒店前台告知到店时间；<br>
                                    对于到店时间晚于18:00，且不告知酒店前台到店留房时间的客人，酒店有权在不提前告知客人的情况下取消预订。</dd>
                                </dl>
                            </div>
                        </li>
                        <li>
                            <label class="label"><input type="checkbox" id="protocol"></label>
                            <div class="block">
                                <dl>
                                    <dt>我已阅读并同意<a id="contract" href="javascript:void(0)">《预订须知》</a></dt>
                                </dl>
                            </div>
                        </li>
                        <li>
                            <div class="block">
                                <button class="btn" id="addOrderSubmit">提交订单</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- item -->
    </div>
</div>

<div class="roomDetail">
    <a class="close" href="javascript:void(0)">×</a>
    <h2 id="roomName"></h2>
    <dl class="clearfix">
        <dt><img src="http://dimg12.c-ctrip.com/images//200g0m000000dm8dv891A_R_300_225.jpg" alt=""></dt>
        <dd>
            <ul>
                <li id="roomDesc"></li>
            </ul>
        </dd>
    </dl>
    <h3>所有房型设施</h3>
    <ul class="hrd-allfac-list">
    </ul>
</div>

<script type="application/javascript">


    function isLogin(user) {

        $("#lastName").val(user.lastName);
        $("#firstName").val(user.firstName);
        $("#orderMobile").val(user.mobile);
//        $("#mobile").val((user.addressProvince? user.addressProvince.name.split("|")[0]:'')+ user.addressCityName+user.addressStreet);
        $("#email").val(user.email);
        queryAvaFromPage();
    }
    function noLogin() {
        queryAvaFromPage();
    }
</script>

[#include '../include/foot.html'/]
<script src="${static}/js/jquery-timepicker/jquery.timepicker.min.js"></script>
<script src="${static}/js/xss.min.js"></script>
<script type="application/javascript">

//    $('#arrivalTime').timepicker({ 'timeFormat': 'G:i' });

    $("#contract").click(function () {

        layer.open({
            type: 1 //Page层类型
            ,area: ['800px', '500px']
            ,title: '预订须知'
            ,shade: 0.6 //遮罩透明度
            // ,maxmin: true //允许全屏最小化
            ,anim: -1 //0-6的动画形式，-1不开启
            ,content: '<div style="padding:25px;">基本政策<br>' +
            '1.为方便您在酒店前台办理入住手续，请正确填写每位入住客人的真实姓名。您所提出的特殊入住要求，我们及时为您协调，但能否实现需视酒店的实际情况而定，对于部分要求酒店有可能需要加收相应费用，酒店会及时将确认的信息反馈给您。' +
            '<br>2.在您填写预订资料时，请务必留下正确的联系方式，以便于我们与您联系预订的相关事宜。' +
            '<br><br>保留和取消政策<br>' +
            '1.无担保的预订正常预留时间为抵店当日18:00之前。入住时间为当天14:00以后，如您需要提早到店，为了缩短您等候的时间，建议您在到店前联系酒店前台，了解当天的房间情况。' +
            '<br>2.如果在18:00之后入住，请告诉我们您的航班号或车次，酒店将视当天的住房情况看是否能为您保留房间。为了保证您的顺利入住，建议您使用在线支付功能预付您的房费。担保订单和预付房费订单，酒店会将房间保留至到店次日中午12时，取消必须提前24小时通知酒店。如果未在规定的时间内取消（或当晚未到店），酒店将收取一晚房费。 ' +
            '<br><br>订单变更政策<br>1.正常退房时间是中午12:00之前，如您需要续住，请及时通知酒店前台。离店当日12:00之后，18:00之前退房将加收半天房费；18:00之后退房加收全天房费。 ' +
            '<br>2.如您行程有变，不能及时入住或需提前离店，请提前通知我们或酒店前台。</div>'
        });
    });

    var hotelCode = getQueryString("hotelCode");
    var hotelName = getQueryString("hotelName");
    var arrival = getQueryString("arrival");
    var departure = getQueryString("departure");
    var adults = getQueryString("adults");
    var roomNum = getQueryString("roomNum");
    var selectRateCode = null;
    var selectRoomCode = null;
    var selectFirstNightPrice = null;
    var selectTotalPrice = null;

    var checkSubmitFlg = false;

    function queryAvaFromPage() {

        if(hotelCode && hotelName) {
            $("#hotelCode").attr('code', hotelCode);
            $("#hotelCode").val(hotelName);
        }
        if(arrival){
            $("#arrival").val(arrival);
        }
        if(departure){
            $("#departure").val(departure);
        }
        if(adults) {
            $("#adults").attr('code', adults);
            $("#adults").val(adults + " 人");
        }
        if(roomNum) {
            $("#roomNum").attr('code', roomNum);
            $("#roomNum").val(roomNum + " 间");
        }
        if(hotelCode && arrival && departure) {
            queryAva(hotelCode, arrival, departure, adults, roomNum);

            //确认订单
            $("#checkOrderbtn").click(function () {

                var lastName = $("#lastName").val();
                var firstName = $("#firstName").val();
                var mobile = $("#orderMobile").val();
                var email = $("#email").val();
                var comments = $("#comments").val();
                if(lastName== null || lastName == ""){
                    alert("请输入中文姓");
                    return false;
                }
                if(!checkHz(lastName)){
                    alert("请输入正确的中文姓");
                    return false;
                }
                if(firstName== null || firstName == ""){
                    alert("请输入中文名");
                    return false;
                }
                if(!checkHz(firstName)){
                    alert("请输入正确的中文名");
                    return false;
                }
                if(mobile== null || mobile == ""){
                    alert("请输入手机号");
                    return false;
                }
                if(!checkMobile(mobile)){
                    alert("请输入正确的手机号");
                    return false;
                }
                if(email != "" && !checkEmail(email)){
                    alert("请输入正确的邮箱");
                    return false;
                }

                $("#inputForm").hide();
                $("#payTypeForm").show();

                $("#orderShow").html(filterXSS("酒店："+ $("#hotelCode").val()+ "；到达日："+ $("#arrival").val()+"；离开日："+$("#departure").val()
                +"；人数：" + $("#adults").val() + "；客房数：" + $("#roomNum").val()));
                $("#nameShow").html(filterXSS(lastName+firstName));
                $("#orderMobileShow").html(filterXSS(mobile));
                $("#emailShow").html(filterXSS(email));
                $("#commentsShow").html(filterXSS(comments));

            });

            //提交订单
            $("#addOrderSubmit").click(function () {

                if(checkSubmitFlg) {
                    return false;
                }
                if(!$('#protocol').is(':checked')) {
                    alert("请选择 我已阅读并同意《预订须知》。");
                    return false;
                }

                var addType = $("input[name='addType']:checked").val();
                var lastName = $("#lastName").val();
                var mobile = $("#orderMobile").val();
                var email = $("#email").val();
                var comments = $("#comments").val();
                var arrivalTime = "18:00";
                if(lastName== null || lastName == ""){
                    alert("请输入姓名");
                    return false;
                }
                if(mobile== null || mobile == ""){
                    alert("请输入手机号");
                    return false;
                }
                if(!checkMobile(mobile)){
                    alert("请输入正确的手机号");
                    return false;
                }
                if(email != "" && !checkEmail(email)){
                    alert("请输入正确的邮箱");
                    return false;
                }
                checkSubmitFlg = true;
                ajax("/hotel/addOrder",{arrival: arrival, departure: departure, roomNum: roomNum, adults: Math.ceil(adults/roomNum), rate: selectFirstNightPrice,
                    lastName: lastName, totalRevenue: selectTotalPrice, hotelCode: hotelCode, roomtypeCode: selectRoomCode, comments: comments,
                    reteCode: selectRateCode, reservationTypeCode: addType, mobile: mobile, email : email, arrivalTime: arrivalTime},
                function (data) {

                    checkSubmitFlg = false;

                    if(addType == "10") {
                        window.open("//"+window.location.host+ path + "/alipay/pay?orderId="+ data.id, "_blank");
                        layer.confirm('支付完成？', {
                            btn: ['确定','取消'] //按钮
                        }, function(){
                            location.href = "/member/index.html";
                        }, function(){

                        });
                    }else {
                        alert("提交订单成功");
                    }
                }, function (result) {
                        checkSubmitFlg = false;
                        alert(result.message);
                    }, 1);
            })
        }
    }

    function queryAva(hotelCode, arrival, departure, adults, roomNum) {
        ajax("/info/availability", {hotelCode: hotelCode, arrival: arrival, departure: departure, adults: adults, roomNum: roomNum},
        function (data) {
            showRooms(data);
            goStep(2);
        });
    }

    function showRooms(data) {
        $("#roomList").html('');
        var rateInfo = data.rateInfo;
        for(var i = 0; i<rateInfo.length; i++) {
            var roomRateDetails = rateInfo[i].roomRateDetails;
            var rate = rateInfo[i].rate;
            if(roomRateDetails && roomRateDetails.roomRateDetail) {
                var rooms = roomRateDetails.roomRateDetail;
                for(var j = 0; j< rooms.length; j++){
                    var roomTypeDetail = rooms[j].roomTypeDetail;
                    newShowRoom($("#roomList"), roomTypeDetail, rate, rooms[j].rateDetailDailys);
                }
            }

        }
    }

    function newShowRoom(el, roomTypeDetail, rate, rateDetailDailys) {

        var roomTypeCodeId = "roomTypeCode_" + roomTypeDetail.code;
        var firstNightPrice = getFirstNightPrice(rateDetailDailys);
        var firstNightTotalPrice = firstNightPrice.toFixed(2) * roomNum;
        if($("#" + roomTypeCodeId).length > 0){

            var num = $("#" + roomTypeCodeId + "_1").attr("rowspan");
            $("."+ roomTypeCodeId+":last").after('<tr>' +
//              '<td>大床</td>' +
                '<td>'+getBf(roomTypeDetail)+'</td>' +
                '<td>'+getQxgz(rate.oguaranteeRule)+'</td>' +
                '<td class="tal"><span class="price">'+firstNightPrice.toFixed(2)+'</span>' +
                '<p>'+rate.name.split("|")[0]+'</p></td>' +
                '<td><a href="javascript:void(0)" class="want" onclick="addRoomOrder(\''+rate.code+'\',\''+roomTypeDetail.code+'\','+firstNightTotalPrice+','+roomTypeDetail.totalPrice+','+firstNightPrice.toFixed(2)+')">预订</a></td></tr>');
            $("#" + roomTypeCodeId + "_1").attr("rowspan", Number(num) + 1);

        } else {

            var pic = roomTypeDetail.pic;
            if(!pic) {
                pic = "http://dimg10.c-ctrip.com/images/200n0u000000j1kke1E07_R_130_130.jpg";
            }
            var des = roomTypeDetail.des.split("|")[0];
            var info = '';
            var hotelInstallations = roomTypeDetail.hotelInstallations;
            if(hotelInstallations && hotelInstallations.commonInfo && hotelInstallations.commonInfo.length >0){
                for(var i=0; i< hotelInstallations.commonInfo.length; i++){
                    var item = hotelInstallations.commonInfo[i];
                    info += '、'+item.name.split("|")[0];
                }
            }
            info = info.substr(1);
            var roomName = roomTypeDetail.name.split("|")[0];
            var html = '<tr id="'+roomTypeCodeId+'" class="'+ roomTypeCodeId+'"><td id="'+roomTypeCodeId+'_1" class="tal" rowspan="1">' +
                '<img src="'+pic+'" width="60" class="roompic">' +
                '<a href="javascript:;" class="viewDetail" onclick="showDetail(\''+roomName+'\',\''+des+'\',\''+info+'\')"><em>'+roomName+'</em>查看详情</a>' +
                '</td>' +
//                '<td>大床</td>' +
                '<td>'+getBf(roomTypeDetail)+'</td>' +
                '<td>'+getQxgz(rate.oguaranteeRule)+'</td>' +
                '<td class="tal"><span class="price">'+firstNightPrice.toFixed(2)+'</span><p>'+rate.name.split("|")[0]+'</p> </td>' +
                '<td><a href="javascript:void(0)" class="want" onclick="addRoomOrder(\''+rate.code+'\',\''+roomTypeDetail.code+'\','+firstNightTotalPrice+','+roomTypeDetail.totalPrice+','+firstNightPrice.toFixed(2)+')">预订</a></td></tr>';
            el.append(html);
        }
    }

    function getQxgz(oguaranteeRule) {
        if(oguaranteeRule && oguaranteeRule.guaranteeRule) {

            var html = '';
            oguaranteeRule.guaranteeRule.forEach(function (item, index) {
                html += item.name.split("|")[0] + ":";
                if(item.ocancelRule) {
                   html += item.ocancelRule.name + item.ocancelRule.cancelBeforeTimeStr + '<br>';
                } else {
                    html += "免费取消<br>";
                }
            });

            return html;
        }
        return '--';
    }

    function getBf(roomTypeDetail) {
        var bf = '--';
        var packages = roomTypeDetail.packages;
        if(packages!=null && packages.package!=null) {
            packages.package.forEach(function (item) {
                if(item.groupCode == "1") {
                    bf = item.name;
                    return false;
                }
            })
        }
        return bf;
    }

    //首日总价
    function getFirstNightTotalPrice(rateDetailDailys) {

        var price = getFirstNightPrice(rateDetailDailys);
        return (price * roomNum).toFixed(2);
    }

    //首日单价
    function getFirstNightPrice(rateDetailDailys) {

        var rateDetailDaily = rateDetailDailys.rateDetailDaily[0];
        var price = rateDetailDaily['prs'+ adults];
        if(price <= 0) {
            price = rateDetailDaily.price;
        }
        if(rateDetailDaily.serviceChargeFlag == '1') {
            price = price * (1+rateDetailDaily.serviceCharge);
        } else {
            price += rateDetailDaily.serviceCharge;
        }
        return price;
    }

    function getRoomType(roomTypeDetail) {

    }


    function showDetail(roomName, des, info) {

        $("#roomName").html(roomName);
        $("#roomDesc").html(des);
        $(".hrd-allfac-list").html('<li><span>便利设施:</span>'+info+'</li>');
        $('.roomDetail').show();
    }

    $('.roomDetail')
        .on('click', '.close',function(){
            $('.roomDetail').hide();
        });

    function addRoomOrder(rateCode, roomCode, firstNightTotalPrice, totalPrice, firstNightPrice) {
        goStep(3);
//        var dayNum = getDateDiff(arrival, departure);
        $("#totalPrice").html("￥"+ firstNightTotalPrice);
        $("#onePrice").html("￥"+ firstNightPrice);
        selectRateCode = rateCode;
        selectRoomCode = roomCode;
        selectFirstNightPrice = firstNightTotalPrice;
        selectTotalPrice = totalPrice;

    }

    function getDateDiff(startDate,endDate) {
        var startTime = new Date(Date.parse(startDate.replace(/-/g,   "/"))).getTime();
        var endTime = new Date(Date.parse(endDate.replace(/-/g,   "/"))).getTime();
        var dates = Math.abs((startTime - endTime))/(1000*60*60*24);
        return  dates;
    }

    function goStep(num) {

        var html = '<li><span class="pass">选择酒店</span></li>';
        html += '<li class="connect"></li><li><span '+(num > 1? 'class="pass"': '')+'>选择房型</span></li>';
        html += '<li class="connect"></li><li><span '+(num > 2? 'class="pass"': '')+'>详情确认</span></li>';
        html += '<li class="connect"></li><li><span '+(num > 3? 'class="pass"': '')+'>在线支付</span></li>';
        $("#step").html(html);

        if(num == 2){
            $("#rooms").show();
            $("#addOrder").hide();
        }
        if(num == 3){
            $("#rooms").hide();
            $("#addOrder").show();
        }

    }
</script>
</body>
</html>