<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    [#include '../include/head_meta.html'/]
    <title>${channel.title!channel.name}-${site.name}</title>
    <meta name="description" content="${channel.description!}" />
    <meta name="keywords" content="${channel.keywords!}">
    <link rel="dns-prefetch" href="">
    <link rel="stylesheet" href="${static}/css/base.css">
    <link rel="stylesheet" href="${static}/css/original/member.css">
    <script src="${static}/js/common.js"></script>
</head>
<body>
[#include '../include/header_nav.html'/]

<!-- container -->
<div class="container">

    <div class="member-banner">
        [#include '../include/incUserHead.html'/]
    </div>

    <div class="member-content">
        <div class="member-nav">
            <div>
                <p>订单管理</p>
                <ul>
                    <li class="active">
                        <a href="">客房订单</a>
                    </li>
                </ul>
            </div>
            <div>
                <p>我的账户</p>
                <ul>
                    <li>
                        <a href="">我的优惠券</a>
                    </li>
                    <li>
                        <a href="">我的积分记录</a>
                    </li>
                </ul>
            </div>
            <div>
                <p>会员中心</p>
                <ul>
                    <li>
                        <a href="">积分规则</a>
                    </li>
                    <!--<li>-->
                        <!--<a href="">会员等级及有效期</a>-->
                    <!--</li>-->
                    <li>
                        <a href="">会员基本信息</a>
                    </li>
                    <li>
                        <a href="">账户安全</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="member-right">
            <div class="member-right-title">
                我的订单
            </div>
            <div class="search">
                <div class="search-option">
                    <div class="search-name">
                        <p>入住客人</p>
                        <input type="" name="" value="方哈哈">
                    </div>
                    <div class="search-date">
                        <p>入住日期</p>
                        <input type="" name="" value="2018-03-18">
                        ——
                        <input type="" name="" value="2018-04-01">
                    </div>
                    <div class="search-state">
                        <p>订单状态</p>
                        <select>
                            <option>全部订单</option>
                            <option>未支付</option>
                        </select>
                    </div>
                </div>
                <div class="search-btn">
                    <p class="button">立即查询</p>
                </div>
            </div>
            <div class="order">
                <ul class="">
                    <li class="order-1">
                        <input type="checkbox" name="">
                        全选
                    </li>
                    <li class="order-2">
                        入住人
                    </li>
                    <li  class="order-3">
                        入住日期
                    </li>
                    <li  class="order-4">总金额</li>
                    <li  class="order-5">订单状态</li>
                    <li  class="order-6">操作</li>
                </ul>
                <div class="order-list">
                    <div class="order-item">
                        <div class="order-title">
                            <div>
                                <input type="checkbox" name="">
                                订单编号：
                                <span class="color">1111111</span>
                            </div>
                            <div>
                                预订时间：
                                <span class="color">121212121212</span>
                            </div>
                            <div>
                                <a href="" class="color">删除订单</a>
                            </div>
                        </div>
                        <ul>
                            <li class="order-1">
                                <img src="${static}/img/original/member/2.png">
                                <div>杭州国大雷迪森广场酒店</div>
                            </li>
                            <li class="order-2">
                                方哈哈
                            </li>
                            <li class="order-3">
                                2018-1-1
                            </li>
                            <li class="order-4">
                                121元
                            </li>
                            <li class="order-5">已完成</li>
                            <li class="order-6"><a href="" class="color">点评酒店</a></li>
                        </ul>
                    </div>
                    <div class="order-item">
                        <div class="order-title">
                            <div>
                                <input type="checkbox" name="">
                                订单编号：
                                <span class="color">1111111</span>
                            </div>
                            <div>
                                预订时间：
                                <span class="color">121212121212</span>
                            </div>
                            <div>
                                <a href="" class="color">删除订单</a>
                            </div>
                        </div>
                        <ul>
                            <li class="order-1">
                                <img src="${static}/img/original/member/2.png">
                                <div>杭州国大雷迪森广场酒店</div>
                            </li>
                            <li class="order-2">
                                方哈哈
                            </li>
                            <li class="order-3">
                                2018-1-1
                            </li>
                            <li class="order-4">
                                121元
                            </li>
                            <li class="order-5">已完成</li>
                            <li class="order-6"><a href="" class="color">点评酒店</a></li>
                        </ul>
                    </div>
                    <div class="order-item">
                        <div class="order-title">
                            <div>
                                <input type="checkbox" name="">
                                订单编号：
                                <span class="color">1111111</span>
                            </div>
                            <div>
                                预订时间：
                                <span class="color">121212121212</span>
                            </div>
                            <div>
                                <a href="" class="color">删除订单</a>
                            </div>
                        </div>
                        <ul>
                            <li class="order-1">
                                <img src="${static}/img/original/member/2.png">
                                <div>杭州国大雷迪森广场酒店</div>
                            </li>
                            <li class="order-2">
                                方哈哈
                            </li>
                            <li class="order-3">
                                2018-1-1
                            </li>
                            <li class="order-4">
                                121元
                            </li>
                            <li class="order-5">已完成</li>
                            <li class="order-6"><a href="" class="color">点评酒店</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

[#include '../include/foot.html'/]
</body>
</html>