<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    [#include '../include/head_meta.html'/]
    <title>${channel.title!channel.name}-${site.name}</title>
    <meta name="description" content="${channel.description!}" />
    <meta name="keywords" content="${channel.keywords!}">
    <link rel="dns-prefetch" href="">
    <link rel="stylesheet" href="${static}/css/base.css">
    <link rel="stylesheet" href="${static}/css/original/member.css">
    <script src="${static}/js/common.js"></script>
</head>
<body>
[#include '../include/header_nav.html'/]

<!-- container -->
<div class="container">

    <!--<div class="member-banner">-->
        [#include '../include/incUserHead.html'/]
    <!--</div>-->

    <div class="member-content">
        <div class="member-nav">
            <div>
                <p>订单管理</p>
                <ul>
                    <li class="active">
                        <a href="javascript:void(0)" onclick="window.location.reload();">客房订单</a>
                    </li>
                </ul>
            </div>
            <div>
                <p>我的账户</p>
                <ul>
                    <li>
                        <a href="/member/coupon.html">我的优惠券</a>
                    </li>
                    <li>
                        <a href="/member/pointRecord.html">我的积分记录</a>
                    </li>
                </ul>
            </div>
            <div>
                <p>会员中心</p>
                <ul>
                    <li>
                        <a href="">积分规则</a>
                    </li>
                    <!--<li>-->
                        <!--<a href="">会员等级及有效期</a>-->
                    <!--</li>-->
                    <li>
                        <a href="/member/userinfo.html">会员基本信息</a>
                    </li>
                    <li>
                        <a href="">账户安全</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="member-right">
            <div class="member-right-title">
                我的订单
            </div>
            <div class="search">
                <div class="search-option">
                    <div class="search-name">
                        <p>入住客人</p>
                        <input type="text" name="lastname" id="lastname" value="" maxlength="10">
                    </div>
                    <div class="search-date">
                        <p>入住日期</p>
                        <input type="text" size="6" value="" class="date_picker" id="beginArrivalDate" name="beginArrivalDate">
                        ——
                        <input type="text" size="6" value="" class="date_picker" id="endArrivalDate" name="endArrivalDate">
                    </div>
                    <div class="search-state">
                        <p>订单状态</p>
                        <select id="statusCode">
                            <option value="">全部订单</option>
                            <option value="0001">待入住</option>
                            <option value="0003">已取消</option>
                            <option value="0004">已入住</option>
                            <option value="0006">已退房</option>
                        </select>
                    </div>
                </div>
                <div class="search-btn">
                    <p class="button" onclick="recordInfo()">立即查询</p>
                </div>
            </div>
            <div class="order">
                <ul class="">
                    <li class="order-1">
                        <input type="checkbox" name="">
                        全选
                    </li>
                    <li class="order-2">
                        入住人
                    </li>
                    <li  class="order-3">
                        入住日期
                    </li>
                    <li  class="order-4">总金额</li>
                    <li  class="order-5">订单状态</li>
                    <li  class="order-6">操作</li>
                </ul>
                <div class="order-list" id="logList">

                </div>
                <div class="paging tcdPageCode" style="padding-top: 50px"></div>
            </div>
        </div>
    </div>

</div>
<script id="log_show" type="text/html">
    {{ if list.length == 0 }}
        暂无记录
    {{ else }}
    {{each list value i}}
    <div class="order-item">
        <div class="order-title">
            <div>
                <input type="checkbox" name="">
                订单编号：
                <span class="color">{{value.id}}</span>
            </div>
            <div>
                预订时间：
                <span class="color">{{value.makedate.replace("T", " ").split(".")[0]}}</span>
            </div>
            <div>
            {{if value.statusCode.code=='0001'}}
                <a href="javascript:void(0)" onclick="cancelOrder({{value.id}})" class="color">取消订单</a>
            {{/if}}
            </div>
        </div>
        <ul>
            <li class="order-1">
                <img src="${static}/img/original/member/2.png">
                <div>{{value.hotelCode.name}}</div>
            </li>
            <li class="order-2">
                {{value.lastname}}{{value.firstname}}
            </li>
            <li class="order-3">
                {{value.arrival.split("T")[0]}}
            </li>
            <li class="order-4">
                {{value.totalRevenue}}元
            </li>
            <li class="order-5">{{statusList[value.statusCode.code]}}</li>
            <li class="order-6">
                {{if value.reservationType.code=='10' && value.statusCode.code == '0001'
                && (value.payMentGateWay.orderInfoPaymentGateway.length == 0 || value.payMentGateWay.orderInfoPaymentGateway[0].status != 'PAID')}}
                <a href="javascript:void(0)" onclick="payOrder({{value.id}})" class="color">继续支付</a>
                {{/if}}
                {{if value.statusCode.code=='0006'}}
                <a href="" class="color">点评酒店</a>
                {{/if}}

            </li>
        </ul>
    </div>
    {{/each}}
    {{ /if}}
</script>
[#include '../include/foot.html'/]
<script src="${static}/js/template-web.js"></script>
<script src="${static}/js/jquery.page2.js"></script>
<script type="application/javascript">
    DataInit = {
        pages : {
            curPage : 1,
            pageSize: 10,
            hasNextPage: false,
            hasPrvPage: false
        }
    };
    function  initMemberPage(user) {
        recordInfo();
    }

    function payOrder(id) {
        window.open("//"+window.location.host+ path + "/alipay/pay?orderId="+ id, "_blank");
    }

    function cancelOrder(id) {
        layer.prompt({
            formType: 2,
            value: '',
            title: '确实取消预订,请输入取消原因',
            maxlength: 200,
            area: ['300px', '100px']//自定义文本域宽高
        }, function(value, index, elem){

            ajax("/user/cancelOrder", {id: id, comments:value}, function (data) {
                if(data) {
                    alert("取消成功");
                    layer.close(index);
                    window.location.reload();
                } else {
                    alert("取消失败");
                }
            },null, 1);
        });
    }

    //记录
    function recordInfo(){

        var lastName = $("#lastname").val();
        var beginArrivalDate = $("#beginArrivalDate").val();
        var endArrivalDate = $("#endArrivalDate").val();
        var statusCode = $("#statusCode").val();

        ajax("/user/orderList", {
            pageIndex: DataInit.pages.curPage,
            pageSize: DataInit.pages.pageSize,
            lastName:lastName,
            beginArrivalDate:beginArrivalDate,
            endArrivalDate: endArrivalDate,
            statusCode: statusCode
        }, function (data) {

            var res = data;
            var d = {
                list: res.orderInfos.orderInfo,
                statusList: {"0001":"待入住", "0003":"已取消", "0005":"等待", "0004":"已入住", "0006":"已退房", "0007":"不显示"}
            };
            var html = template('log_show', d);
            $("#logList").html(html);

            if (DataInit.pages.curPage==1) {
                $(".paging").createPage({
                    pageCount:Math.ceil(res.pageInfo.totalRecords/DataInit.pages.pageSize),
                    current:DataInit.pages.curPage,
                    backFn:function(p){
                        DataInit.pages.curPage=p;
                        recordInfo();
                    }
                });
            }
        });
    }
</script>

</body>
</html>