<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    [#include '../include/head_meta.html'/]
    <title>${channel.title!channel.name}-${site.name}</title>
    <meta name="description" content="${channel.description!}" />
    <meta name="keywords" content="${channel.keywords!}">
    <link rel="dns-prefetch" href="">
    <link rel="stylesheet" href="${static}/css/base.css">
    <link rel="stylesheet" href="${static}/css/activity.css">
</head>
<body>
[#include '../include/header_nav.html'/]

<!-- container -->
<div class="container">

    <!--[#include '../include/incActivityHead.html'/]-->

    <div class="banner"><img src="${static}/img/activity/preferential.jpg" alt=""></div>

    <div class="wrap">
        <div class="a-hd">
            <em>HOT -SALE</em>
        </div>
        <div class="a-bd">
            <dl>
                <dt>鼎尚俱乐部专享！微信、官网订房全网最低价！</dt>
                <dd>Reddison Dingshang Club Enjoys</dd>
                <dd>
                    <br>
                    <p>活动时间：</p>
                    <p>2018年3月1日 - 4月30日</p>
                    <p>雷迪森鼎尚俱乐部“金猴迎春、会员纳福”重磅来袭！</p>
                    <a href="#">查看详情</a>
                </dd>
            </dl>
        </div>
        <ul class="hot-sale-p">
            <li><img src="${static}/img/activity/270x290.jpg" alt=""><div><p><em>高级大床房</em><span>Large Bed Room</span></p></div></li>
            <li><img src="${static}/img/activity/570x380.jpg" alt=""><div><p><em>商务双床房</em><span>Builess Doble Room</span></p></div></li>
            <li><img src="${static}/img/activity/270x290.jpg" alt=""><div><p><em>商务海景房</em><span>The Seaview Room</span></p></div></li>
        </ul>

        <div class="a-hd">
            <em>NEW ONE</em>
        </div>
        <ul class="new-one-p">
            <li>
                <img src="${static}/img/activity/780x520.jpg" alt="">
                <p>DELICIOUS FOOD<span>精选可口美食</span></p>
            </li>
            <li>
                <img src="${static}/img/activity/380x520.jpg" alt="">
                <p>THE SWIMMING POOL<span>酒店游泳中心</span></p>
            </li>
        </ul>
        <div class="a-bd">
            <dl>
                <dt>雷迪森(LANDISON)品牌的核心价值是与众不同</dt>
                <dd>LANDISON brand is different from others.</dd>
                <dd>
                    <br>
                    <p>雷迪森(LANDISON)品牌的核心价值是与众不同、非凡感受。超群的地理位置、别具匠心和尽显奢华的环境设施，自豪而不矜持的的服务构成了酒店的主要特色。优雅、温馨、舒适的环境，精美的佳肴美食，细致入微的服务，无论从视觉、味觉、听觉都能给客人带来无比愉悦的入住感受与体验，并在合适的时机为客人创造特别感受。</p>
                    <p>雷迪森鼎尚俱乐部“金猴迎春、会员纳福”重磅来袭！</p>
                    <a href="#">查看详情</a>
                </dd>
            </dl>
        </div>

        <div class="a-one">
            <ul>
                <li>
                    <img src="${static}/img/activity/540x280.jpg" alt="">
                    <h2>新人首住享好礼</h2>
                    <p>活动时间：2018.03.24-2018.04.24</p>
                    <a href="#">查看详情</a>
                </li>
                <li>
                    <img src="${static}/img/activity/540x280.jpg" alt="">
                    <h2>新人首住享好礼</h2>
                    <p>活动时间：2018.03.24-2018.04.24</p>
                    <a href="#">查看详情</a>
                </li>
                <li>
                    <img src="${static}/img/activity/540x280.jpg" alt="">
                    <h2>新人首住享好礼</h2>
                    <p>活动时间：2018.03.24-2018.04.24</p>
                    <a href="#">查看详情</a>
                </li>
                <li>
                    <img src="${static}/img/activity/540x280.jpg" alt="">
                    <h2>新人首住享好礼</h2>
                    <p>活动时间：2018.03.24-2018.04.24</p>
                    <a href="#">查看详情</a>
                </li>
            </ul>
        </div>
    </div>
</div>

[#include '../include/foot.html'/]
</body>
</html>