<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    [#include '../include/head_meta.html'/]
    <title>${channel.title!channel.name}-${site.name}</title>
    <meta name="description" content="${channel.description!}" />
    <meta name="keywords" content="${channel.keywords!}">
    <link rel="dns-prefetch" href="">
    <link rel="stylesheet" href="${static}/css/base.css">
    <link rel="stylesheet" href="${static}/css/original/member.css">
    <script src="${static}/js/common.js"></script>
</head>
<body>
[#include '../include/header_nav.html'/]

<!-- container -->
<div class="container">

    <!--<div class="member-banner">-->
        [#include '../include/incUserHead.html'/]
    <!--</div>-->

    <div class="member-content">
        <div class="member-nav">
            <div>
                <p>订单管理</p>
                <ul>
                    <li >
                        <a href="/member/index.html">客房订单</a>
                    </li>
                </ul>
            </div>
            <div>
                <p>我的账户</p>
                <ul>
                    <li class="active">
                        <a href="javascript:void(0)" onclick="window.location.reload();">我的优惠券</a>
                    </li>
                    <li>
                        <a href="/member/pointRecord.html">我的积分记录</a>
                    </li>
                </ul>
            </div>
            <div>
                <p>会员中心</p>
                <ul>
                    <li>
                        <a href="">积分规则</a>
                    </li>
                    <!--<li>-->
                        <!--<a href="">会员等级及有效期</a>-->
                    <!--</li>-->
                    <li>
                        <a href="/member/userinfo.html">会员基本信息</a>
                    </li>
                    <li>
                        <a href="">账户安全</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="member-right">
            <div class="discount-title">
                <img src="${static}/img/original/member/3.png">
                我的优惠券
            </div>
            <div class="discount-tab">
                <ul>
                    <li class="tab-active tab-item j_coupon_item" data="notUsed">未使用</li>
                    <li class="tab-item j_coupon_item" data="used">已使用</li>
                    <li class="tab-item j_coupon_item" data="expired">已过期</li>
                </ul>
            </div>
            <div>
                <div class="tab-active tab-content tab-1">
                </div>
                <div class="tab-content tab-2">
                </div>
                <div class="tab-content tab-3">
                </div>
            </div>
        </div>
    </div>

</div>
<script id="log_show" type="text/html">
    <ul>
        {{each list value i}}
        <li>
            <div class="card-top">
                <p>
                    <span>￥</span>
                    {{value.detail.cash.faceValue}}
                </p>
                <p>{{categoryList[value.category]}}</p>
            </div>
            <div class="card-bottom">
                <h2>{{value.name}}</h2>
                <p>{{description}}</p>
                <p>有效期{{value.beginDate}}-{{value.endDate}}</p>
            </div>
        </li>
        {{/each}}
    </ul>
</script>
[#include '../include/foot.html'/]
<script src="${static}/js/template-web.js"></script>
<script src="${static}/js/jquery.page2.js"></script>
<script type="application/javascript">

    DataInit = {
        pages : {
            curPage : 1,
            pageSize: 30,
            hasNextPage: false,
            hasPrvPage: false
        }
    };


    function  initMemberPage(user) {

        $(".tab-active .tab-item").click();
    }

    $(".j_coupon_item").click(function () {

        $(".j_coupon_item").removeClass("tab-active");
        $(this).addClass("tab-active");
        var index = $(this).index()+1;
        $(".tab-content").removeClass("tab-active");
        $(".tab-"+index).addClass("tab-active");
        recordInfo(index, $(this).attr("data"));
    });

    function recordInfo(index, status){

        ajax("/user/coupons", {
            page: DataInit.pages.curPage,
            pageSize: DataInit.pages.pageSize,
            status:status
        }, function (data) {
            var d = {
                list: data,
                categoryList: {"cash":"代金券", "gift":"礼品券"}
            };
            var html = template('log_show', d);
            $(".tab-"+index).html(html);

            if (DataInit.pages.curPage==1) {
                $(".paging-"+index).createPage({
                    pageCount:Math.ceil(res.countNums/DataInit.pages.pageSize),
                    current:DataInit.pages.curPage,
                    backFn:function(p){
                        DataInit.pages.curPage=p;
                        recordInfo();
                    }
                });
            }
        });

    }
</script>
</body>
</html>