<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    [#include '../include/head_meta.html'/]
    <title>${channel.title!channel.name}-${site.name}</title>
    <meta name="description" content="${channel.description!}" />
    <meta name="keywords" content="${channel.keywords!}">
    <link rel="dns-prefetch" href="">
    <link rel="stylesheet" href="${static}/css/base.css">
    <link rel="stylesheet" href="${static}/css/yearning-club.css">
</head>
<body>

[#include '../include/header_nav.html'/]

<!-- container -->
<div class="container">

    [#include '../include/inc_yearning_club.html'/]

    <div class="wrap mall">
        <img src="${static}/img/yearning-club/logo.png" class="yearning-club" alt="忆旅慧 YEAENING CLUB">

        <h2 class="title none">尊敬的XX 先生：<br>您在怿商城未使用的订单有一张</h2>
        <!-- item -->
        <div class="mall-item clearfix">
            <dl>
                <dt class="voucher">单次泳券 / <em>杭州国大雷迪森广场酒店</em></dt>
                <dd><b class="original-price">￥1OO</b><span class="real-price">￥210</span></dd>
                <dd>
                    使用说明：
                    <ul>
                        <li>1）该券仅限于杭州国大雷迪森广场酒店康体中心使用</li>
                        <li>2）该券有效期为购买日起至2018年12月31日</li>
                        <li>3）该券不得与其他优惠、专享折扣和其他礼券同时使用</li>
                        <li>4）结账时请向服务人员出示优惠券券号</li>
                        <li>5）该券仅限使用一次，核销后无效。</li>
                    </ul>
                </dd>
            </dl>
            <img src="${static}/img/yearning-club/_610x345.jpg" class="goodsPic" alt="">
            <a href="#" class="go-item">立即购买</a>
        </div>

        <h2 class="title none">您在怿商城已使用的订单有一张</h2>
        <div class="voucher">单次泳券 / <em>杭州国大雷迪森广场酒店</em></div>

    </div>
</div>

[#include '../include/foot.html'/]
</body>
</html>